.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  font-family: "Inter", sans-serif;
}

.loaderContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loaderGif {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
}

#loader-percent {
  color: white;
  font-size: 1.5rem;
}
